/** FONT STYLESHEET **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display : flex;
    flex-direction : column;
    align-items : center;
    height : 100vh;
    margin : 0px;
    background-color: #131313;
}

.right_menu{
    color : rgba(255, 255, 255, 1);
    margin : 0px 10px;
    font-family : 'IBM Plex Sans KR', 'sans serif';
    font-weight: 400;
    font-size : 16px;
}
a{text-decoration : none;
    color : inherit;
    }
/** SHAPE STYLESHEET**/
#symbolmark{
    width : 215px;
    position : absolute;
    margin : 12px 0px 0px 0px;}
    @media screen and (max-width : 768px){
        #symbolmark {width : 210px;}
    }


#top_nevigation_bar_area{
    width : 100%;
    background-color : #131313;
    height : 85px;   
    }
    @media screen and (max-width : 768px){
        #top_nevigation_bar_area {height : 60px;}
    }

#top_nevigation_bar{
    width : 70%;
    height : 85px;
    padding : 0px 15% 0px 15%;
    position : fixed;
    display : inline-block;
    background-color: #131313;
    z-index:100;
    }
#right_menu_group{
    float : right;
    margin : 24px 0px 0px 0px;
}

#copyright_area{
    width : 1340px;
    margin : 20px 300px;
}
#copyright{
    color : rgba(255, 255, 255, 1);
    font-family : 'IBM Plex Sans KR', 'sans serif';
    font-weight : 400;
    font-size : 14px;}
#Address{
    color : rgba(255, 255, 255, 1);
    font-family : 'IBM Plex Sans KR', 'sans serif';
    font-weight : 400;
    font-size : 14px;
    margin : 0px 0px 0px 200px;
}
#Tel{
    color : rgba(255, 255, 255, 1);
    font-family : 'IBM Plex Sans KR', 'sans serif';
    font-weight : 400;
    font-size : 14px;
    float : right;
}
#contents_area{
    padding : 0% 15% 0% 15%;
    margin : 0 auto;
    display : block;
    justify-content : space-between;
    align-items : center;
}

@media screen and (max-width : 768px){
    #contents_area {width : 100%;}
}

#contents_area video{
    width : 100%;
    height : 85vh;
    border : none;
    margin : 70px 0px 0px 0px ;
    align-items: center;
}
.selected_subject{
    font-family : 'IBM Plex Sans KR', 'sans serif';
    font-weight : 500;
    font-size : 24px;
    color : #FFFFFF;
    margin : 0px 1.3%;
}
@media screen and (max-width : 960px){
    .selected_subject {font-size : 18px;}
}
.unselected_subject{
    font-family : 'IBM Plex Sans KR', 'sans serif';
    font-weight : 500;
    font-size : 24px;
    color : #848484;
    margin : 0px 1.3%;
    cursor: pointer;
    transition: color 0.3s;
}

@media screen and (max-width : 960px){
    .unselected_subject {font-size : 18px;}
}

#unactived a:hover{
    color : #aaaaaa;
    cursor : pointer;
    transition : color 0.3s;
}

.button{
    margin : 80px 20px 60px 20px;
    text-align : center;
    display : flex;
    justify-content : center;
    font-family : 'IBM Plex Sans KR', 'sans-serif';
}
.video_contents{
    width : 30%;
    display :inline-block;
    align-items: center;
    margin : 0px 10px 20px 10px;
}

@media screen and (max-width : 960px){
    .video_contents {
        width : 45%;
        margin : 0px;}
}

.thumbnail{
    width : 100%;
    display : inline-block;
    margin : 0px 0px 5px 0px;
}
.title{color : rgba(255, 255, 255, 1);
    font-family : 'IBM Plex Sans KR', 'sans serif';
    font-size : 18px;
    font-weight : 600;
    margin : 5px 0px 0px 2px;
    display : block;}

@media screen and (max-width : 1140px){
    .title {font-size : 14px;}
}

.names{
    color : rgba(255, 255, 255, 1);
    font-family : 'IBM Plex Sans KR', 'sans serif';
    font-size : 12px;
    font-weight : 400;
    margin : 2px 0px 0px 2px;
    display : block;
}

@media screen and (max-width : 1140px){
    .names {font-size : 10px;}
}

.gallery{
    margin : 0 auto;
    width : 100%;
    justify-content : center;
    align-items: center;
}
#menu_toggle_button{
    width : 20px;
    float : right;
    
    margin : 24px 0px 0px 0px;
}


/** 반응형 홈페이지용 STYLESHEET**/
@media (min-width : 769px) {
    #menu_toggle_button {
        display: none;
    }
}
 @media (max-width : 768px)   {
    #right_menu_group{
        display : none;
    }
}
#side_menu.show-menu {
    display: block;}

